.textColor{
    color: black;

}

/* .containerdirector{
  height: 100vh;
 background-image: url("../pexels-andrea-piacquadio-3811867.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
} */


.card { background-color: rgba(245, 245, 245, 0.4);
        
 }
.card-header, .card-footer { opacity: 1}

.crossbtn{
  height: 40px;
}