.forMovie{
    height: 100vh;
    background-image: url("../pexels-henry-&-co-3137890.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto; 
}


.card { background-color: rgba(245, 245, 245, 0.4);
    maxWidth: 18rem;
        
}
.card-header, .card-footer { opacity: 1}